<h3><%= @pr["name"]%><h3>
<h4>Generation: <%= @pr["generation"] %></h4>
<p>CPU: <%= @pr["versions"][0]["cpu"]%>
<p>Storage: <%= @pr["versions"][0]["storage"]%>
<p>Memory: <%= @pr["versions"][0]["memory"]%>
<p>Graphics: <%= @pr["versions"][0]["graphics"]%>
<p>Sound: <%= @pr["versions"][0]["sound"]%>
<p>Summary: <%= @pr["versions"][0]["summary"]%></p>
<p>Games<%= @pr2[1]['name']%></p>
<ul>
<% @pr2.each do |game| %>
  <li><%= link_to game["name"], platform_game_path(params[:id], game["id"]) %></li>
<% end %>
</ul>








