<h3><%= @game_response[0]["name"] %></h3>
<p>Rating: <%= '%.2f' % @game_response[0]["rating"] %></p>
<p>Release Date: <%= @game_response[0]["release_dates"][0]["human"] %></p>
<p>Summary <%= @game_response[0]["summary"] %></p>


<% @game_response[0]["screenshots"].each do |screenshot| %>
  <img src="https://<%= screenshot["url"][2..-1] %>" />
<% end %>
<img src="https://<%= @game_response[0]["screenshots"][0]["url"][2..-1] %>" />
<!-- POST FEED AND WINDOW -->
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  <% end %>
  <!-- POST FEED AND WINDOW -->
<div>
  <button type="button" class="btn btn-secondary btn-lg">
    <%= link_to "Back", :back %>
  </button>
</div>
