<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "New post..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="post-picture">
    <%= f.file_field :picture %>
  </span>
<% end %>
